* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  padding: 1rem 0 0;
}

header {
  padding: 1rem;
  position: relative;
  top: -1rem;
  width: 100%;
  background-color: white;
}

header h1{
  color: Black;
  font-size: 2rem;
}

header p {
  color: grey;
  font-size: 1rem;
}

nav {
  background: white;
}

img {
  display: block;
  margin: 1rem auto;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

.navigation-link {
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  font-family: fantasy;
  float: right;
}

footer {
  /*background: black;*/
  color: black;
  font-size: .75rem;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

address {
  padding: 1rem;
}

small {
    text-align: center;
}
section {
  padding: 1rem;
}

.site-name {
  position: relative;
  left: 2.5rem;
  top: 4.5rem;
}

.site-slogan {
  position: relative;
  left: 2rem;
  top: 3rem;
}

.image1 {
  border: 1px solid #333;
  margin: 10 auto;
  position: relative;
  width: 17rem;
  transform: rotate(-14deg);
}

.image2 {
  border: 1px solid #333;
  margin: 2 auto;
  position: relative;
  width: 17rem;
  transform: rotate(7deg);
}

.image3 {
  border: 1px solid #333;
  margin: 2 auto;
  position: relative;
  width: 17rem;
  transform: rotate(-10deg);
}

.logo {
  max-height:120px;
  width: auto;
  height: auto;
  /*position: relative;*/
  right: 6rem;
  /*float: right;*/
}

.content {
  background: white;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  text-align:justify;;
}

.about-us {
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  font-family: 'Griffy', cursive;
}
